{% extends 'base.html.twig' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<h2>Admin Dashboard</h2>

<p>This is the admin dashboard.</p>

<p>There are {{ link_count|number_format }} links in the database.</p>

<p><a href="/link_create.php">Add a link</a></p>

{% endblock %}