{% if logged_in %}
    Logged in as <b>{{ username }}</b> | {% if user_role == 'admin' %}<a href="/admin/index.php">Admin Dashboard</a> | {% endif %}<a href="/logout.php">Logout</a>
{% else %}
    <a href="/login.php">Login</a> | <a href="/register.php">Register</a>
{% endif %}